.root {
    -white-color: white;
    -wrong-color: #787c7e;
    -text-fill-color: black;
    -empty-border-color: #d3d6da;
    -unlocked-border-color: #878a8c;
    -background-color: white;
    -key-background-color: #d3d6da;
    -present-color: #c9b458;
    -correct-color: #6aaa64;
}


/* Цвет основного окна и плиток со словами (the color of the main window and tiles with words) */
.main-screen {
    -fx-background-color: -background-color;
    -fx-padding: 10px;
}

.default-tile {
    -fx-background-color: -background-color;
    -fx-border-color: -empty-border-color;
    -fx-text-fill: -text-fill-color;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-pref-width: 55px;
    -fx-pref-height: 55px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.tile-with-letter {
    -fx-border-color: -unlocked-border-color;
}

.present-letter {
    -fx-background-color: -present-color;
    -fx-border-color: -present-color;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 55px;
    -fx-min-height: 55px;
    -fx-pref-width: 55px;
    -fx-pref-height: 55px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.wrong-letter {
    -fx-background-color: -wrong-color;
    -fx-border-color: -wrong-color;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 55px;
    -fx-min-height: 55px;
    -fx-pref-width: 55px;
    -fx-pref-height: 55px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.correct-letter {
    -fx-background-color: -correct-color;
    -fx-border-color: -correct-color;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 55px;
    -fx-min-height: 55px;
    -fx-pref-width: 55px;
    -fx-pref-height: 55px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}


/* Цвета клавиш клавиатуры (keyboard tiles colors) */
.keyboardTile {
    -fx-background-color: -key-background-color;
    -fx-text-fill: -text-fill-color;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-min-width: 30px;
    -fx-min-height: 58px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.keyboardCorrectColor {
    -fx-background-color: -correct-color;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-min-width: 30px;
    -fx-min-height: 58px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.keyboardPresentColor {
    -fx-background-color: -present-color;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-min-width: 30px;
    -fx-min-height: 58px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

.keyboardWrongColor {
    -fx-background-color: -wrong-color;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-min-width: 30px;
    -fx-min-height: 58px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
}

/* Цвета плиток в окне помощи (colors of mini-tiles in the help window) */
.default-help-tile {
    -fx-background-color: -background-color;
    -fx-border-color: -empty-border-color;
    -fx-text-fill: -text-fill-color;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.present-help-letter {
    -fx-background-color: -present-color;
    -fx-border-color: -present-color;
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.wrong-help-letter {
    -fx-background-color: -wrong-color;
    -fx-border-color: -wrong-color;
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.correct-help-letter {
    -fx-background-color: -correct-color;
    -fx-border-color: -correct-color;
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* Цвета мини-плиток в окне результатов (colors of mini-tiles in the results window) */
.default-result-tile {
    -fx-background-color: -background-color;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.correct-result-tile {
    -fx-background-color: lime;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.present-result-tile {
    -fx-background-color: yellow;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.btn {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: -correct-color;
}